.anti-hero main {
    transform: translate(0, -5%);
}

body {
    background-image: url("../images/gearblue102.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.anti-hero {
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.backdrop-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -9;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translatez(-5px) scale(1.5);
    width: auto;
    height: 300px;
    object-fit: contain;
    position: relative;
}

.foreground:first-child {
    height: 180px;
}

.foreground:last-child {
    display: none;
    width: 80%;
}

.foreground-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.title {
    position: absolute;
    font-family: "ICA Rubrik", "Montserrat", sans-serif;
    font-size: 8.5rem;
    color: var(--color-ter);
    text-shadow: var(--theme-main) 0 0 15px;
    letter-spacing: 1.6rem;
    text-align: center;
    transform: translatez(4px) scale(0.9);
    text-wrap: wrap;
}

.anti-hero main {
    background-image: url("../images/bluex03230936.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    min-height: 50dvh;
}

#brand-filter {
    display: flex;
    justify-content: center;
    z-index: 100;
}

#brand-list {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 20px;
}

#brand-list .brand, #brand-list #undo-filter {
    display: inline-flex;
    cursor: pointer;
    width: fit-content;
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--color-ter);
    border-right: 2px groove var(--color-ter);
    font-weight: 600;
    text-shadow: var(--color-basic) 4px 0 9px;
}

#brand-list #undo-filter {
    color: var(--color-supp);
}

#brand-list .brand.selected {
    background-color: rgba(20, 20, 20, 0.6);
    cursor: none;
}

#catalogue {
    position: relative;
}

#data-structuring-panel {
    position: absolute;
    right: 5%;
    margin-top: 25px;
}

#data-structuring-panel div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#data-structuring-panel select {
    background-color: #0563af;
    color: var(--color-ter);
    padding: 12px;
    width: 400px;
    border: none;
    font-size: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 25px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

#data-structuring-panel div::before {
    content: "\eab6";
    font-family: boxicons;
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    text-align: center;
    font-size: 2.8rem;
    line-height: 45px;
    color: var(--color-ter);
    background-color: var(--theme-main);
    pointer-events: none;
}

#data-structuring-panel:hover::before {
    color: var(--theme-main);
    background-color: var(--theme-sec);
}

#data-structuring-panel label {
    margin-right: 15px;
    font-size: 1.6rem;
    color: var(--color-ter);
}

#data-structuring-panel #rwd-menu-brand-div {
    display: none;
}

#display-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 90px 0;
    margin-top: 63px;
}

.watch-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 50px;
}

.watch-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.watch-item img {
    height: 250px;
    object-fit: contain;
    transform: translateX(-20%);
}

.watch-item img:hover {
    transform: scale(1.4);
    transition: 0.8s;
}

.watch-item .watch-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    right: 0;
    color: var(--color-ter);
    text-align: right;
    text-wrap: wrap;
}

.watch-item .watch-info h2 {
    font-size: 2.3rem;
}

.watch-item .watch-info p {
    font-size: 1.6rem;
}

.watch-item .watch-info h1 {
    font-size: 2.8rem;
}

.view-btn {
    position: relative;
    padding: 15px;
    display: block;
    text-decoration: none;
    width: 200px;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 28px;
    transform: translateX(50%);
}

.view-btn span {
    position: relative;
    color: var(--color-ter);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    z-index: 1;
    cursor: pointer;
}

.view-btn .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 15px var(--theme-sec);
    transition: 0.5s;
    overflow: hidden;
}

.view-btn .wave::after,
.view-btn .wave::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.view-btn .wave::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: flow 5s linear infinite;
}

.view-btn .wave::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: flow 10s linear infinite;
}

.view-btn:hover .wave{
    top: -120px;
    cursor: pointer;
}

.pagination {
    position: relative;
    justify-content: center;
    display: flex;
    font-size: 2.8rem;
    letter-spacing: 0.6rem;
    color: var(--color-ter);
    font-weight: 500;
    padding-bottom: 50px;
    line-height: 150%;
    text-shadow: var(--color-basic) 4px 0 9px;
}

.pagination button {
    background-color: transparent;
    border: none;
    font-size: 4.2rem;
    color: var(--color-ter);
}

#current-page {
    margin: 0 20px;
}

#current-page span:last-of-type {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

@keyframes flow {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
}


@media (min-width: 1440px) {
    #display-board {
        gap: 80px;
    }
}

@media (min-width: 1105px) and (max-width: 1360px) {
    #display-board {
        gap: 60px;
    }

    .watch-item img {
        transform: translateX(-10%);
    }
}

@media (min-width: 730px) and (max-width: 900px) {
    #display-board {
        gap: 50px;
    }

    .watch-item img {
        transform: translateX(-5%);
    }
}

@media (max-width: 1160px) {
    .title {
        font-size: 5.8rem;
        letter-spacing: 0.6rem;
    }

    .foreground {
        height: 220px;
    }

    .foreground:first-child {
        height: 130px;
    }
}

@media (max-width: 800px) {

    .foreground-container img{
        display: none;
    }

    .foreground:last-child {
        transform: translateY(-68px);
        display: block;
    }

    .title {
        font-size: 4.6rem;
        letter-spacing: 0.3rem;
    }

    #brand-list .brand, #brand-list #undo-filter {
        font-size: 1.8rem;
        letter-spacing: 0;
    }
}

@media (min-width: 500px) and (max-width: 773px) {
    #display-board {
        padding-left: 14%;
    }
}

@media (max-width: 680px) {

    .title {
        font-size: 3.9rem;
        transform: translatez(3px) scale(0.8);
    }

    #data-structuring-panel select {
        justify-content: center;
        width: 285px;
        font-size: 1.6rem;
    }

    #data-structuring-panel::before {
        width: 10%;
        font-size: 2.3rem;
    }

    #data-structuring-panel label {
        font-size: 1.2rem;
        position: absolute;
        left: -35%;
        top: 50%;
        transform: translateY(-50%);
    }

    #brand-filter {
        display: none;;
    }

    #data-structuring-panel #rwd-menu-brand-div {
        display: block;
    }

    #display-board {
        padding-top: 165px;
    }
}

@media (max-width: 420px) {

    #data-structuring-panel select {
        padding-top: 20px;
    }

    #data-structuring-panel label {
        left: 0%;
        top: 0%;
        transform: translateY(0);
    }

    #data-structuring-panel div::before {
        line-height: 55px;
    }

    #display-board {
        overflow: scroll;
        padding-left: 6%;
    }
    .style-for-centering {
        width: 100%;
    }
}