main {
    transform: translate(0, -5%);
}

.anti-hero {
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.backdrop-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -9;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translatez(-5px) scale(1.5);
    width: 500px;
    object-fit: contain;
}

.title {
    font-family: "ICA Rubrik", "Montserrat", sans-serif;
    font-size: 10rem;
    color: var(--color-ter);
    text-shadow: 0 0 10px var(--theme-main);
    letter-spacing: 1.6rem;
    text-align: center;
}

.anti-hero main {
    background-image: url("../images/bluex03230936.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    min-height: 50dvh;
}

#brand-filter {
    display: flex;
    justify-content: center;
    z-index: 100;
}

#brand-list {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 20px;
}

#brand-list .brand {
    display: inline-flex;
    cursor: pointer;
    width: fit-content;

    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    padding: 10px 25px;
    background-color: transparent;
    color: var(--color-ter);
    border-right: 2px solid white;
    border-radius: 35px;

    box-shadow: 0 0 10px var(--theme-main);
}

#catalogue {
    position: relative;
}

#data-structuring-panel {
    position: absolute;
    right: 10%;
    margin: 15px;
}

#data-structuring-panel select {
    background-color: #0563af;
    color: var(--color-ter);
    padding: 12px;
    width: 400px;
    border: none;
    font-size: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 25px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

#data-structuring-panel::before {
    content: "\eab6";
    font-family: boxicons;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 2.8rem;
    line-height: 45px;
    color: var(--color-ter);
    background-color: var(--theme-main);
    pointer-events: none;
}

#data-structuring-panel:hover::before {
    color: var(--theme-main);
    background-color: var(--theme-sec);
}

#data-structuring-panel label {
    margin-right: 15px;
    font-size: 1.6rem;
    color: var(--color-ter);
}

#display-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 90px 0;
}

.watch-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 50px;
}

.watch-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.watch-item img {
    height: 250px;
    object-fit: contain;
    transform: translateX(-25%);
}

.watch-item img:hover {
    transform: scale(1.4);
    transition: 0.8s;
}

.watch-item .watch-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    right: 0;
    color: var(--color-ter);
    text-align: right;
    text-wrap: wrap;
}

.watch-item .watch-info h2 {
    font-size: 2.3rem;
}

.watch-item .watch-info p {
    font-size: 1.6rem;
}

.watch-item .watch-info h1 {
    font-size: 2.8rem;
}

.view-btn {
    position: relative;
    padding: 15px;
    display: block;
    text-decoration: none;
    width: 200px;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 10px;
}

.view-btn span {
    position: relative;
    color: var(--color-ter);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    z-index: 1;
    cursor: pointer;
}

.view-btn .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #4973ff;
    /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
    box-shadow: inset 0 0 15px var(--theme-sec);
    transition: 0.5s;
    overflow: hidden;
}

.view-btn .wave::after,
.view-btn .wave::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.view-btn .wave::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: flow 5s linear infinite;
}

.view-btn .wave::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: flow 10s linear infinite;
}

.view-btn:hover .wave{
    top: -120px;
    cursor: pointer;
}

@keyframes flow {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* .backdrop {
    background-image: url("../images/bg_water_casio.jpg");
    width: 100%;
    min-height: 100dvh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */