/* @property --standardwidth {
    syntax: "<standardwidth>";
    inherits: false;
    initial-value: 320px;
} */
.swal2-popup {
    font-size: 1.6rem;
}

#overlay {
    background: var(--theme-main-alt);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: -1;
}

main {
    display: grid;
    place-items: center;
    position: relative;
    height: 100dvh;
    overflow: scroll;

    --standardwidth: 320px;
}

main .card {
    position: absolute;
    transform: translate(0, 10%);
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--standardwidth), 1fr));
    gap: clamp(1rem, 2cqi, 3rem);
    width: clamp(var(--standardwidth), 65%, 960px);
    padding: clamp(1rem, 5cqi, 3rem);
    background-color: var(--theme-sec);
    border-radius: 16px;
}

.card-content {
    display: grid;
    gap: 2rem;
    padding: 10px;
}

.tag {
    background-color: var(--theme-main-alt);
    color: var(--color-ter);
    width: fit-content;
    padding: 3px 8px;
    font-size: 1rem;
    border-radius: 40px;
}

#card-brand {
    font-size: 4.8rem;
    letter-spacing: 0.3rem;
    line-height: 110%;
    font-weight: 800;
}

#card-brand:not(:first-child) {
    margin-block-start: 0.5rem;
}

#card-model-name {
    font-size: 2.8rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    line-height: 80%;
}

#card-model-no {
    font-size: 1.6rem;
}

#more-info {
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    opacity: 0.65;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#price-current {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 0.4rem;
    line-height: 1;
    font-family: "Italiano", sans-serif;
}

.price, .button-box {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.button-buy {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    cursor: pointer;
    width: 300px;
    height: 50px;
    color: var(--color-ter);
    border: 3px solid var(--theme-main-alt);
    background-image: -webkit-linear-gradient(30deg, var(--theme-main-alt) 50%, transparent 50%);
    background-image: linear-gradient(30deg, var(--theme-main-alt) 50%, transparent 50%);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    box-shadow: rgba(0, 200, 255, 0.5) 2px 3px 8px;
}

.button-buy:is(:hover, :focus-visible) {
    background-position: 100%;
    color: var(--theme-main-alt);
}

#image-zoom {
    width: var(--standardwidth);
    height: auto;
    position: relative;
    /* set it as relative and pseudo element as absolute respectively can make the zooming image cover the original one while hovering. */
    transform: translateX(10%);

}

#image-zoom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 0 0; */
}

#image-zoom::after {
    display: var(--display);
    content: "";
    width: 100%;
    height: 100%;
    background: var(--theme-sec);
    background-image: var(--url);
    background-size: 300%;
    background-position: var(--zoom-x) var(--zoom-y);

    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}


@media (max-width: 1240px) {
    main {
        --standardwidth: 300px;
    }

    #card-brand {
        font-size: 4.2rem;
        font-weight: 600;
    }

    #card-model-name {
        font-size: 2.6rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
    }

    #price-current {
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        font-family: "Italiano", sans-serif;
    }
}

@media (max-width: 1050px) {
    main {
        justify-content: center;
    }
    .price, .button-box {
        justify-content: flex-start;
    }

    #more-info {
        font-size: 1.6rem;
        width: var(--standardwidth);
    }
}

@media (min-width: 800px) and (max-width: 1050px) {
    #image-zoom, .card-content {
        transform: translate(20%, 0);
    }
}

@media(max-width: 600px) {
    #card-brand, #price-current {
        font-size: 4rem;
    }

    .button-buy {
        width: 260px;
        height: 65px;
        font-size: 1.6rem;
    }

    #image-zoom, .card-content {
        transform: translate(0, 0);
    }
}


/* form submission for purchase */

#buy-modal .x-cl-btn {
    right: -10%;
}

#buy-form {
    width: clamp(320px, 50dvw, 960px);
    padding: 20px 30px;
    margin: 0 auto;
    background-color: var(--theme-sec);
    border-radius: 4.2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px 1px;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #b9b9b9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buy-form h4 {
    margin: 15px auto;
    color: var(--color-supp-alt);
}

#buy-form .form-top h4 {
    margin-bottom: 5px;
}

.form-row {
    zoom: 1;
}

.form-row:before,
.form-row:after {
    content: "";
    display: table;
}

.form-row:after {
    clear: both;
}

.account-name {
    display: flex;
    justify-content: end;
}

.account-name span {
    /* font-size: 1.6rem; */
    font-weight: 500;
    color: var(--color-supp-alt);
}

.account-name span:first-of-type {
    margin-right: 20px;
}

.purchase-info {
    display: flex;
    justify-content: space-between;
}

.purchase-info div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-basic);
}

.purchase-info div span:first-of-type{
    color: var(--color-pri);
}

#purchase-item-brand, #purchase-price {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

#purchase-item-brand {
    margin: 3px 0;
}

input,
input[type="radio"] + label
{
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#buy-modal input:focus {
    outline: 0;
    border-color: #bd8200;
}

#buy-modal input:focus + .input-icon i {
    color: var(--color-supp-alt);
    font-weight: 800;
}

#buy-modal input:focus + .input-icon:after {
    border-right-color: var(--color-supp-alt);
}

.input-group {
    margin-bottom: 15px;
    zoom: 1;
}

.input-group:before,
.input-group:after {
    content: "";
    display: table;
}

.input-group:after {
    clear: both;
}

.input-group-icon {
    position: relative;
}

.input-group-icon input {
    padding-left: 80px;
}

.input-group-icon .input-icon {
    position: absolute;
    top: 0px;
    left: 0;
    width: 60px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    pointer-events: none;
}

.input-group-icon .input-icon:after {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: block;
    border-right: 2px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
}

input[type="radio"] + label:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type="radio"] + label:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="radio"]:checked + label,
input:checked + label:before {
    background-color: var(--color-supp-alt);
    color: var(--color-ter);
    border-color: #bd8200;
}

.col-to-half {
    display: inline-block;
    width: 50%;
}

.col-to-half:last-of-type {
    float: right;
    display: inline-flex;
    justify-content: end;
}

.col-to-half span {
    font-size: 1.4rem;
    padding: 10px 10px 0 10px;
}

.col-to-half:last-of-type .input-group {
    display: inline-flex;
}

.col-to-half:last-of-type .input-group input{
    text-align: center;
    font-size: 1.2rem;
}

/* To hide the arrows in number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-action {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin: 10px 0 5px;
}

.table-action div {
    width: 40%;
    height: fit-content;
    background-color: var(--color-supp);
    color: var(--color-ter);
    border: 1px solid #bd8200;
    font-family: "montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.table-action div:last-of-type {
    display: none;
}

.table-action div:hover, .table-action div:focus {
    background-color: var(--color-supp-alt);
    outline: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px 0 ;
}

.table-action .line {
    width: 15%;
    height: 2px;
    background-color: #b9b9b9;
}

.confirm-deal-msg {
    text-align: left;
    font-size: 1.6rem;
}


@media only screen and (max-width: 800px) {
    .col-to-half {
        width: 100%;
    }

    #buy-modal .x-cl-btn {
        display: none;
    }
    /* cross sign will be supersede by cancel button */
    .table-action div:last-of-type {
        display: block;
    }

    .table-action .line {
        display: none;
    }

    .col-to-half:last-of-type {
    float: none;
    display: inline-flex;
    width: 80%;
    font-size: 0.5rem;
    }

    #buy-form .input-group #card-number {
        font-size: 1.2rem;
    }

    #buy-form .form-row .input-group label span i {
        font-size: 1.4rem;
    }

    #purchase-item-brand, #purchase-price {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0rem;
    }

    #purchase-item {
        font-size: 1.2rem;
    }
}
