:root {
    --indent-left: 36px;
    --circle-size: 50px;
    --spacing-blk-end: 28px;
}

body {
    background-color: #d5d5d5;
}

.container {
    background-color: var(--color-ter);
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0px 0px 25px #858585;
    display: grid;
    grid-template-columns: 45% 50%;
    column-gap: 5%;
    row-gap: 30px;
    font-family: system-ui;
}

.profile {
    position: relative;
    background-image: url(../images/bg-slash.gif);
    width: 222.22%;
    height: fit-content;
    border-bottom: 2px solid #000;
}

.profile h3 {
    position: absolute;
    margin-top: 0;
    height: 100%;
    left: -50px;
    padding: 0px;
    color: darkblue;
    font-size: 1.8rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-stretch: extra-expanded;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.profile h2 {
    font-size: 6.8rem;
    margin-top: 55px;
    padding-left: 3%;
    font-stretch:extra-expanded;
    letter-spacing: 2.3rem;
    color: darkblue;
    text-shadow: -5px -3px 0px rgba(0, 0, 0, 0.3);
}

.profile h1 {
    font-size: 8.3rem;
    letter-spacing: 0.1rem;
    font-stretch: expanded;
    padding-left: 14%;
    transform: translateY(-50%);
    text-wrap: nowrap;
    text-shadow: -5px -3px 0px rgba(0, 0, 0, 0.2);
}

.contact-info {
    padding-left: var(--indent-left);
    border-left: 2px solid #000;
    position: relative;
    z-index: 1;
    margin: 25px 0;
    height: fit-content;
}

.contact-info .particulars {
    padding: 0;
    list-style: none;
}

.contact-info .particulars li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.contact-info .particulars li span {
    font-size: 1.8rem;
}

.contact-info .particulars li:first-of-type a span:hover {
    cursor: pointer;
}

.contact-info .particulars li:first-of-type div span {
    display: block;
}

.contact-info .particulars li:first-of-type div span:last-of-type {
    color: blue;
    text-decoration: underline;
    padding: 5px 50px 0;
}

ion-icon {
    font-size: 2.3rem;
    margin-right: 20px;
}

section > h2 {
    font-size: 2.6rem;
    text-shadow: rgba(255, 255, 255, 0.6) 12px 12px 0px;
    letter-spacing: 0.2rem;
    margin-block-end: var(--spacing-blk-end);
    padding-top: 15px;
    position: relative;
    z-index: 2;
}

section > h2::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0%;
    transform: translateY(30%);
    z-index: -1;
    width: 100%;
    height: 18px;
    background: linear-gradient(to left, var(--theme-main), var(--color-ter));
}

.experience {
    padding-left: var(--indent-left);
}

.experience > h2::before {
    content: "\ea02";
    font-family: boxicons;
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 2rem;
    text-shadow: none;
}

.cv-content {
    position: relative;
    margin-block-end: var(--spacing-blk-end);
}

.cv-content details {
    padding: 5px 10px;
    transition: background 0.3s ease-in-out;
    position: relative;
    z-index: 9;
    background-color: rgba(251, 253, 248, 0.85);
}

.cv-content details:hover {
    background-color: rgba(230, 230, 230, 0.8);
    backdrop-filter: contrast(0.36) brightness(1.6);
}

summary::marker {
    content: none;
}

.cv-content summary {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.cv-content summary span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cv-content details summary span i {
    font-size: 2.8rem;
}

.cv-content details summary span i:last-of-type {
    display: none;
}

.cv-content details[open] {
    summary span i:first-of-type {
        display: none;
    }

    summary span i:last-of-type {
        display: inherit;
    }
}

.cv-content summary~p {
    font-size: 1.6rem;
    margin-block-start: 12px;
}

/* selectors pertaining to timeline are shared between sections of job & edu. For edu section, some properties will be superseded in selectors mentioned in later part of this CSS. */

.cv-content .year {
    position: absolute;
    width: var(--circle-size);
    aspect-ratio: 1;
    background-color: var(--color-basic);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc( 0px - var(--circle-size) / 2 - var(--indent-left) );
    top: 0;
    transform: translateY(-25%);
    color: var(--color-ter);
    font-size: 1.4rem;
    box-shadow: inset 0 0 0 2px var(--color-ter);
    border: 1px solid var(--color-basic);
    z-index: 1;
}

.cv-content:not(:last-of-type):before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--color-basic);
    left: calc( 0px - var(--indent-left) );
    top: 0;
    bottom: calc( 0px - var(--spacing-blk-end) );
}

.learning-path .skills {
    background-color: var(--color-pri-alt);
    box-shadow: rgba(0, 0, 0, 1) -11px -11px 0;
}

.learning-path .skills h2 {
    text-indent: 5%;
}

.learning-path .lang-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    border-bottom: 3px solid var(--color-ter);
    margin-block-end: 10px;
    padding-bottom: 20px;
    position: relative;
}

.learning-path .lang-icons::after {
    content: attr(data-lang-type);
    position: absolute;
    bottom: -12px;
    right: 0;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4.8rem;
    font-weight: 600;
    letter-spacing: 0.8rem;
    padding-right: 2px;
}

.learning-path .lang-icons div {
    width: 30%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.learning-path .lang-icons div::after {
    content: attr(data-lang);
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: var(--color-ter);
    background-color: darkblue;
    border: 1px solid darkblue;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px var(--color-ter);
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.8s;
}

.learning-path .lang-icons div:hover:after {
    opacity: 1;
}

.learning-path :where(
    .lang-icons:nth-of-type(2) div:nth-of-type(1),
    .learning-path .lang-icons:nth-of-type(3) div:nth-of-type(1),
    .learning-path .lang-icons:nth-of-type(4) div:nth-of-type(2)
    ) img {
    width: 80%;
}

.learning-path .lang-icons:nth-of-type(2) div:nth-of-type(3) img,
.learning-path .lang-icons:nth-of-type(3) div:nth-of-type(3) img {
    transform: scale(1.15) translateX(-3%);
}

.edu-sec {
    margin-block-start: 60px;
}

.edu-sec .cv-content .year b {
    font-size: 1.3rem;
    transform: rotate(-35deg) translateX(-20px);
    text-indent: 10px;
}

.edu-sec .cv-content .year {
    left: 0;
    top: 8px;
    z-index: 99;

    aspect-ratio: 0;
    border-radius: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: unset;
    border-top: 0px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 55px solid var(--theme-main-alt);
    justify-content: end;
    align-items: start;
}

.edu-sec .cv-content .year::before {
    content: "\edd3";
    font-family: boxicons;
    position: absolute;
    color: black;
    font-size: 5rem;
    top: 28px;
}

.edu-sec .cv-content:not(:last-of-type):before {
    left: 0;
    background-color: var(--theme-main-alt);
    z-index: 9;
}

.edu-sec .cv-content {
    padding-left: calc( var(--circle-size) / 2 + var(--indent-left) );
    position: relative;
}

.edu-sec .cv-content:after {
    content: '';
    position: absolute;
    width: 80%;
    height: calc( 100% + 5px );
    background: linear-gradient(to left, var(--theme-main), var(--color-ter));
    top: 0;
    right: -5px;
    border-bottom-right-radius: 8px;
}

.edu-sec .cv-content details {
    border-right: 4px solid yellow;
    border-bottom: 4px solid yellow;
    border-bottom-right-radius: 8px;
    background-color: rgba(251, 253, 248, 0.75);
}

.edu-sec .cv-content details:hover {
    background-color: rgba(230, 230, 230, 0.7);
    backdrop-filter: contrast(0.4) brightness(1.4);
}

.img-bkg {
    display: none;
    /* min-width: 200px; */
    max-width: 280px;
    max-height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 1;
    overflow: hidden;
}

.cv-content:has(details[open]) {
    .img-bkg {
        display: block;
    }
}

.job-path {
    position: relative;
}

.job-path > span:first-of-type {
    position: absolute;
    top: 123px;
    right: 60%;
    transform: translateX(-50%);
    display: inline-flex;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

section.experience h2 {
    margin-block-end: 140px;
}
/* tune the gap between h2 & timeline */

.buttonGroup {
    background: #e6e8e9;
    border-radius: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: visible;
    width: 60%;
    height: 60px;
    align-items: center;
    position: absolute;
    top: 105px;
    right: 0;
}

.buttonGroup .btn {
    background: transparent;
    border: 0;
    border-radius: 0;
    width: 36%;
    padding: 0 15px;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: color 2s ease;
}

.buttonGroup .btn:hover {
    color: var(--theme-main-alt);
}

.buttonGroup .btn--active, .buttonGroup .btn--active:hover {
    background: #fff;
    border-radius: 50px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.35);
    color: var(--theme-main-alt);
    width: 64%;
    height: 69px;
    font-size: 1.4rem;
    font-weight: 500;
}

@media (max-width: 1280px) {
    .profile h2 {
        font-size: 5.8rem;
        letter-spacing: 2rem;
    }

    .profile h1 {
        font-size: 7.2rem;
        font-stretch: normal;
    }

    .buttonGroup {
        width: 65%;
    }

    .buttonGroup .btn {
        font-size: 1.1rem;
    }
}


@media (max-width: 980px) {
    .container {
        grid-template-columns: 1fr;
        padding: 0;
        row-gap: 0;
    }

    .container > div:where(.learning-path, .job-path) {
        padding: 0 30px 50px;
    }

    .profile {
        background-image: url(../images/codingalan.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position:right;
        background-color: #2d3d54;
        height: fit-content;
        width: 100%;
    }

    .profile h2 {
        color:azure;
        padding-left: calc( 30px + var(--circle-size) / 2 + var(--indent-left) );
        text-shadow: none;
        transform: translateY(50%);
    }

    .profile h1 {
        color: beige;
        text-align: center;
        text-shadow: none;
        transform: translateY(-25%);
    }

    .container .contact-info {
        background-image: url(../images/bg-slash.gif);
        width: 100%;
        border-bottom: 2px solid #000;
        margin: 0;
    }

    .profile h3 {
        top: -5px;
        left: 0;
        color:cadetblue;
        text-shadow: none;
    }

    .contact-info {
        border-left: none;
        margin: 15px 0;
    }

    .contact-info .particulars {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-info .particulars li:first-of-type div span {
        display: inline;
    }

    .contact-info .particulars li:first-of-type div span:last-of-type {
        padding: 0;
        text-wrap: nowrap;
    }

    .contact-info .particulars li:nth-of-type(even) {
        padding-left: 20%;
    }

    .contact-info .particulars li:nth-child(3) ion-icon {
        font-size: 2rem;
    }

    .experience {
        padding-left: calc( var(--circle-size) / 2 + var(--indent-left) );
    }

    .container .learning-path {
        order: 2;
    }

    .job-path {
        order: 1;
    }

    .buttonGroup {
        width: 40%;
        min-width: 268px;
        right: calc( var(--circle-size) / 2);
    }

    .buttonGroup .btn {
        width: 40%;
        padding: 0 6px;
    }

    .buttonGroup .btn--active, .buttonGroup .btn--active:hover {
        width: 60%;
        font-size: 1.3rem;
    }

    .job-path > span:first-of-type {
        left: 50%;
        width: fit-content;
        text-wrap: nowrap;
    }
}

@media (max-width: 680px) {
    .profile {
        background-blend-mode: overlay;
    }

    .profile h1 {
        mix-blend-mode: difference;
        font-weight: 900;
    }

    .profile h2 {
        font-family: "ICA Rubrik";
        -webkit-text-stroke: 2px #d2d2d2;
    }

    .contact-info .particulars li:nth-child(3) ion-icon {
        margin-right: 15px;
    }

    .job-path > span:first-of-type {
        left: 35%;
    }

    .learning-path .lang-icons::after {
        font-size: 3.8rem;
        bottom: -10px;
    }

    .learning-path .lang-icons:nth-of-type(2) div:nth-of-type(3) img,
    .learning-path .lang-icons:nth-of-type(3) div:nth-of-type(3) img {
        transform: scale(1) translateX(0);
    }
}

@media (max-width: 540px) {
    .container > div:where(.learning-path, .job-path) {
        padding: 0 15px 30px;
    }

    .contact-info {
        padding: 0 0 0 18px;
    }

    .contact-info .particulars li:nth-of-type(even) {
        padding-left: 10%;
    }

    .contact-info .particulars li span {
        font-size: 1.6rem;
    }

    .job-path > span:first-of-type {
        top: 90px;
    }

    .buttonGroup {
        top: 120px;
    }

    section > h2 {
        font-size: 2.3rem;
        letter-spacing: 0;
    }

    .experience > h2 {
        padding-left: 0;
        margin-left: 0;
        left: calc( 0px - var(--indent-left) );
        width: 100%;
    }

    .experience > h2::before {
        display: none;
    }

    section.experience h2 {
        margin-block-end: 160px;
    }

    .cv-content summary {
        font-size: 2rem;
    }

    .cv-content summary~p {
        font-size: 1.4rem;
    }

    .img-bkg {
        right: 0;
        max-width: 230px;
        max-height: 160px;
    }

    .learning-path .lang-icons div {
        width: 40%;
    }

    .learning-path .lang-icons {
        justify-content: space-between;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .profile h1 {
        padding-left: calc( 30px + var(--circle-size) / 2 + var(--indent-left) );
        margin: 0;
        text-align:unset;
    }
}


@media (max-width: 400px) {
    :root {
        --indent-left: 28px;
        --circle-size: 40px;
    }

    .profile h2 {
        font-size: 4.4rem;
        letter-spacing: 1rem;
        margin-top: 0px;
    }

    .profile h1 {
        font-size: 6rem;
        letter-spacing: 0;
    }

    .profile h3 {
        letter-spacing: 0.6rem;
        top: 0;
        font-size: 1.4rem;
    }

    .contact-info .particulars {
        display: block;
        padding-left: 10px;
    }

    .contact-info .particulars li:nth-of-type(even) {
        padding-left: 0px;
    }

    .cv-content .year {
        font-size: 1.2rem;
        box-shadow: none;
        border: 2px solid lightslategrey;
        background-color: midnightblue;
    }

    .cv-content:not(:last-of-type):before {
        width: 3px;
        background-color: midnightblue;
    }

    .cv-content summary {
        font-size: 1.8rem;
    }

    .cv-content summary~p {
        font-size: 1.3rem;
    }

    .cv-content details summary span i {
        font-size: 1.8rem;
    }

    .learning-path .lang-icons::after {
        font-size: 2.8rem;
        bottom: -6px;
        letter-spacing: 0.5rem;
    }

    .learning-path .lang-icons div {
        width: 47.5%;
    }

    .learning-path .lang-icons {
        padding-left: 0;
        padding-right: 0;
    }

    .edu-sec .cv-content .year::before {
        font-size: 3rem;
        left: -40px;
    }

    .img-bkg {
        min-width: 0;
        max-width: 160px;
    }
}

@media (max-width: 360px) {
    .profile h1,
    .profile h2 {
        padding-left: calc( 10px + var(--circle-size) / 2 + var(--indent-left) );
    }

    .profile h2 {
        font-size: 4rem;
    }

    .profile h1 {
        font-size: 5rem;
    }

    .job-path > span:first-of-type {
        left: calc( var(--indent-left) + var(--circle-size) / 2 );
    }

    .buttonGroup {
        width: 95%;
        left: 5%;
    }
    .buttonGroup .btn {
        font-size: 1rem;
    }

    .buttonGroup .btn--active, .buttonGroup .btn--active:hover {
        font-size: 1.2rem;
    }

    section > h2 {
        font-size: 2rem;
    }
}
