/* 1. page framework */

main {
    height: fit-content;
    min-height: 100dvh;
    width: 100%;
    background-image: url("../images/bkg-impetus-3538533.jpg");
    background-size: fill;
    display: flex;
}

main > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 135px 0 60px;
}

main div div section:nth-of-type(n+2) {
    display: none;
}

main div aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
}

aside button {
    width: 100%;
    padding: 16px 0;
    margin: 14px 0;
    border: none;
    border-right: 2px solid rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--color-basic);
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    cursor: pointer;
}

aside button:hover {
    mix-blend-mode: multiply;
    font-weight: 800;
    background-color: var(--theme-main);
    opacity: 0.9;
    color: var(--color-sec);
    transition: all 0.3s ease;
    border-right: 4px solid var(--color-supp);
    border-bottom: 5px solid var(--color-supp);
}

.action-view-board {
    align-items: center;
    width: 68%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 8px 2px;
}

/* 2. section of creation */

.action-view-board section h2 {
    font-size: 2.8rem;
    letter-spacing: 0.6rem;
    text-align: center;
}

fieldset {
    border: 2px solid var(--theme-main-alt);
    padding: 50px;
}

fieldset legend {
    color: var(--theme-main-alt);
    padding: 10px;
}

.action-view-board form legend, .action-view-board form fieldset div {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.action-view-board form fieldset div input{
    margin: 10px 0 30px;
    font-weight: 500;
    letter-spacing: 0.3rem;
    width: 100%;
    padding: 16px 14px 6px;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: var(--color-basic);
    background: rgb(235, 235, 235);
    height: 56px;
}

.action-view-board form fieldset div:has(div) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
}

.action-view-board form fieldset div input:focus{
    border-color: #6200ee;
    box-shadow: 0px 0px 6px 2px rgb(45 35 66), inset 0px -3px 0px #d6d6e7;
    transform:scale(1.2);
    transition: all 0.5s ease;
}

.action-view-board form fieldset div input[type="checkbox"]:focus, .action-view-board form fieldset div input[type="file"]:focus {
    border-color: none;
    box-shadow: none;
    transform: none;
    transition: none;
}


.action-view-board form fieldset div input:valid {
    background: rgb(220, 225, 250);
}

.action-view-board form input[type="number"] {
    font-size: 2.8rem;
    font-family: "Italiano";
}

.action-view-board form input[type="checkbox"]:hover::after {
    content: 'Unchecked as default';
    display: block;
    position: absolute;
    transform: translate(100%, -150%);
    background-color: var(--color-basic);
    color: var(--color-ter);
    padding: 8px;
    border-radius: 3px;
    font-size: 1.2rem;
    text-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.action-view-board form input[type="submit"] {
    display: inline-block;
    margin-left: 100%;
    transform: translateX(-100%);
    outline: none;
    width: fit-content;
    height: fit-content;
    letter-spacing: 0.3rem;
    border: none;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: var(--color-ter);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 50%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    padding: 14px 32px;
    font-size: 2.3rem;
    color: var(--color-basic);
    border-radius: 6px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.action-view-board form input[type="submit"]:hover {
    box-shadow: 0px 4px 12px rgb(45 35 66 / 55%), 0px 9px 15px -3px rgb(45 35 66 / 50%), inset 0px -3px 0px #d6d6e7;
    transform: translate(-100%, 6px);
}

.file-upload-note {
    color: rgb(230, 0, 50);
    font-size: 1.6rem;
    line-height: 150%;
    margin: 0 0 20px;
}

/* 3. section of update */

.search-panel {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border-right: 2px solid var(--theme-main-alt);
    border-bottom: 2px solid var(--theme-main-alt);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 8px 2px;
}

.search-panel label {
    margin-bottom: 15px;
}

.select-search {
    background-color: #0563af;
    color: var(--color-ter);
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 25px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

#go-search {
    display: inline-block;
    align-items:  center;
    margin-left: 100%;
    transform: translateX(-100%);
    margin-top: 25px;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 2.2rem;
    height: 55px;
    width: 200px;
    font-weight: 400;
    color: var(--color-ter);
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color 0.2s ease,background-color 0.2s ease,box-shadow 0.2s ease;
}

#go-search:hover {
    box-shadow: 0 0 2px 3px #5ceace;
}

.action-view-board form fieldset h2~div:has(div) div{
            width: 20%;
}

#result-description {
    text-wrap: wrap;
    width: 100%;
    height: fit-content;
}

[inert] {
    opacity: 0.4;
}

h2~div div:has(#result-id),
h2~div div:has(#result-model-no)
{
    cursor: not-allowed;
}

#update-item-form input[type="submit"] {
    margin-top: 28px;
}

.update-success-msg {
    text-align: left;
    font-size: 2rem;
}

.update-time {
    text-align: right;
    font-size: 1.6rem;
}
